<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I Lost I Found  &mdash; This is a platform where you can find your lost things</title>
    <!-- Latest compiled and minified JavaScript -->
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
    <!--JS-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/granim.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--font-->
    <link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">


    <!-- favicon -->
    <link rel="icon" href="/img/logo/favicon/favicon-16.png" sizes="16x16">
    <link rel="icon" href="/img/logo/favicon/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/img/logo/favicon/favicon-48.png" sizes="48x48">
    <link rel="icon" href="/img/logo/favicon/favicon-64.png" sizes="64x64">
    <link rel="icon" href="/img/logo/favicon/favicon-128.png" sizes="128x128">

</head>
<body>

   <header>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a href="/" class="navbar-brand navbar-center"><img src="/img/logo/logo.png" class="logo" alt="logo"></a>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav nav-right navbar-right">
        <li class="dropdown"><a href="/login" class=""><b>Login</b></a></li>
        <li><a href="/register" class="btn-register">Register</a></li>
           </ul>
        </div>
        </nav>
   </header>

  <!-- Main content HERE -->

<%- defineContent('hero') %>

  <div class="container" style="">
    <%- defineContent('body') %>
  </div>

  <footer class="footer">
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 footerleft ">
      <div class="logofooter"><img src="/img/logo/logo-white.png" class="logofooter" alt="logo"></div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
      <p><i class="fa fa-map-pin"></i> Lorem ipsum is simply dummy text of the printing</p>
      <p><i class="fa fa-phone"></i> Phone (USA) : +1 9999 878 398</p>
      <p><i class="fa fa-envelope"></i> E-mail : info@ilostifound.com</p>

    </div>
    <div class="col-md-2 col-sm-6 paddingtop-bottom">
      <h6 class="heading7">Menu Links</h6>
      <ul class="footer-ul">
        <li><a href="/home"> Home</a></li>
        <li><a href="/register"> Register</a></li>
        <li><a href="#"> Premium</a></li>
        <li><a href="/about"> About Us</a></li>
        <li><a href="#"> Privacy Policy</a></li>
        <li><a href="#"> Terms & Conditions</a></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6 paddingtop-bottom">

    </div>
    <div class="col-md-3 col-sm-6 paddingtop-bottom">
      <h6 class="heading7">Social Links</h6>
      <ul class="social-network social-circle">
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
    </ul>
    </div>
  </div>
</div>
</footer>
<!--footer start from here-->

<div class="copyright">
<div class="container">
  <div class="col-md-6">
    <p>© 2017 - All Rights with I Lost I Found</p>
  </div>

</div>
</div>
</body>
</html>


<script>
    $(document).ready(function() {
    $(".dropdown-toggle").dropdown();
});
</script> 
