/*menu*/
.navbar{
    border: none;
}
.navbar-toggle{
   margin-top: 17px;
}
.navbar-default{
   min-height:70px;
    background-color: #ffffff;
    box-shadow: none;
    border-radius: 0%;
}
.navbar-nav>li>a{
    line-height: 40px;
}
.navbar-right {
    margin-right: 0px;
}
.nav-right{
    float: right;
}
@media(max-width:500px){
    .nav-right{
    float:none;
}
}
.btn-register{
    color: #fff !important;
    background: orange;
}
.btn-register:hover{
    color: #fff !important;
    background: orange !important;
}

/*login*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 100%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-gl{
    color: #fff;
    background-color:#e04545;
}
.btn-gl:hover{
    color: #fff;
    background-color:#e02424;
}
.btn-signin{
    color: #fff;
    background-color:#00bf33;
    border:none;
}
.btn-signin:hover{
    color: #fff;
    background-color:#00bf33;
    border:none;
}
.btn-signin:active:focus{
    color: #fff;
    background-color:#00bf33;
    border:none;
}
.btn-signin:focus{
    color: #fff;
    background-color:#00bf33;
    border:none;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


/*logo*/
.navbar-header{
    min-height: 70px;
}
.navbar-brand{
    min-height: 70px;
}
.logo{
    width: 50px;

}

*{
    font-family: 'Reem Kufi', sans-serif;
}
body{
  font-size: 16px;
  line-height: 1.5;
}
header .navbar{
  border-radius: 0;
  margin: 0;
}
ul .navbar-right{
    margin-right: 0px !important;
}

 #canvas-image, .hero{
  background-image: url('../img/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
}
.hero-content{
  position: absolute;
  top: 220px;
  text-align: center;
  width: 100%;
}

.hero-content h2{
  color:#fff;
  font-size: 80px;
}

.hero-content p {
  color: #fff;
  font-size: 40px;
  margin-bottom: 30px;
}

.hero-content .btn{
  border-radius: 2px;
  padding: 15px 30px;
}
.btn i{
    font-size: 20px;
}
main{
  min-height: 500px;
  padding: 50px 0;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.row2 {
    margin-right: -15px;
    margin-left: -15px;
}

.btn-android{
    background: #f0776c;
    border: 2px solid #fff;
}
.btn-android:hover{
    background: #fff;
    color: #f0776c;
    border: 2px solid #f0776c
}
.btn-ios{
    background: #337ab7;
    border: 2px solid #fff;
}
.btn-ios:hover{
    color: #337ab7;
    background: #fff;
    border: 2px solid #337ab7;
}

.home{
    margin-bottom: 10px;
}
/*menu 2*/
.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}



/*footer*/
.footer { background-color:#161617; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { width:65px; margin-bottom: 10px;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }




 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}


 .copyright { min-height:40px; background-color:#161617;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}


 ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
 .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
  background: #fff;
  color: #161617;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
  color: #fff;
}
.social-circle i {
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

canvas{
    width: 100%;
    height: 500px;
}

/*register*/

 #canvas-image2, .hero2{
  background-image: url('../img/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 155vh;
  position: relative;
}
.hero-content2{
  position: absolute;
  top: 150px;
  text-align: center;
  width: 100%;
}

.hero-content2 h2{
  color:#fff;
  font-size: 80px;
}

.hero-content2 p {
  color: #fff;
  font-size: 40px;
  margin-bottom: 30px;
}

.hero-content2 .btn{
  border-radius: 2px;
  padding: 15px 30px;
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.register-container{
    background:rgba(227, 227, 230, 0.59);
    padding: 25px 25px 25px 25px;
}
.title-form{
    color:#3b3c3a !important;
}
.sub-title-form{
    color:#3b3c3a;
}

.terms{
}

.btn-agree{
    background: #fff;
}

.btn-register-in{
    border:2px solid #337ab7;
    color:#337ab7;
    background: rgba(227, 227, 230, 0.59);
}
.btn-register-in:hover{
    border:2px solid #337ab7;
    background: #337ab7;
    color: #fff;
}

.btn-sign-in{
    border:2px solid #00bf33;
    color:#00bf33;
    background: rgba(227, 227, 230, 0.59);
}
.btn-sign-in:hover{
    border:2px solid #00bf33;
    background: #00bf33;
    color: #fff;
}

/*login page*/
.login-logo{
    height: 110px;
}



/*about page*/
.container-about{
    margin-top: 70px;
    padding-top: 10px;
    height: 50vh;
}
.container-our-team{
    background-color: #e4e1e1;
}
.container-our-team h2{
}
.team{
    padding:75px 0;
}
h4.description{
	font-weight: bold;
	letter-spacing: 2px;
	color: #999;
	border-bottom: 1px solid rgba(0, 0, 0,0.1);
	padding-bottom: 5px;
}
.profile{
	margin-top: 25px;
}
.profile h1{
	font-weight: normal;
	font-size: 20px;
	margin:10px 0 0 0;
}
.profile h2{
	font-size: 14px;
	font-weight: lighter;
	margin-top: 5px;
}
.profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
}
.profile .img-box:after{
	content:"";
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
.img-box ul{
	position: absolute;
	z-index: 2;
	bottom: 50px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
	height: 0px;
	margin:0px;
	opacity: 0;
}
.profile .img-box:after, .img-box ul, .img-box ul li{
	-webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.img-box ul i{
	font-size: 20px;
	letter-spacing: 10px;
}
.img-box ul li{
	width: 30px;
    height: 30px;
    text-align: center;
    margin: 2px;
    padding: 5px;
	display: inline-block;
}
.img-box a{
	color:#fff;
}
.img-box:hover:after{
	opacity: 1;
}
.img-box:hover ul{
	opacity: 1;
}
.img-box ul a{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.img-box a:hover li{
	border-color: #fff;
}
