<%- contentFor('hero') %>
<div class="container-about">
    <center>
      <h2>About us!</h2>
      <p>
        We're a small team.
      </p>
    </center>
</div>

<div class="container-our-team">
   <center>
       <h2 class="our-team-title">Our Team</h2>
        <div class="gallery-our-team thumbnails">
           
        </div>
    </center>
</div>